.aboutme {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.aboutme-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme-image {
    border-radius: 50%;
    width: 40vh;
    padding: 10px;
}

.aboutme-text {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 110%;
    padding: 10px;
}

@media screen and (min-width: 576px) {
    .aboutme-container {
        width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .aboutme-container {
        width: 720px;
    }
    
    .aboutme-text {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 992px) {
    .aboutme-container {
        width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .aboutme-container {
        width: 1140px;
    }

    .aboutme-text {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1400px) {
    .aboutme-container {
        width: 1320px;
    }
}